<style>

h1 {
	color: #00008B;
	font-family: Lucida Bright;
	text-align: center;
	font-size: 50px;
	font-style: italic;
	margin-top: 50px;
	margin-bottom: 50px;
}

h2 {
	color: #00008B;
	font-family: Lucida Bright;
	font-size: 30px;
	font-style: italic;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 100px;
}
	
h3 {	
	color: #6495ED;
	font-family: Lucida Bright;
	font-size: 25px;
	font-style: italic;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 100px;
}

p {
	font-family: Lucida Bright;
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 100px;
	margin-right: 100px;
}

p1 {
	font-family: Lucida Bright;
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 100px;
}

p11 {
	font-family: Lucida Bright;
	font-size: 20px;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
}

p12 {
	font-family: Lucida Bright;
	font-size: 20px;
	margin-top: 200px;
	margin-bottom: 200px;
	margin-block-start: 15px;
}

p13 {
	font-family: Lucida Bright;
	font-size: 20px;
	margin-top: 200px;
	margin-bottom: 200px;
}

ul.bar {
	list-style-type: none;
	margin-left: 10px;
	margin-bottom: 20px
	padding: 0;
	background-color: #DDA0DD;
}
	
.bar li {
	display: inline;
	color: #F0F8FF;
	font-family: Lucida Bright;
	font-size: 20px;
	padding: 15px 25px;
	margin-left: 50px
}
	
ul.res {
	list-style-type:square;
}
	
.animalpictures {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 150px;
	padding-right: 25px;
}
	
a:link {
	color: #483D8B;
}
a:visited {
	color: #483D8B;
}
a:hover {
	color: #8B0000;
}
	
</style>
