<style>
body {
	background-color: #F0F8FF;
}

h1 {
	color: #00008B;
	font-family: Lucida Bright;
	text-align: center;
}

h2 {
	color: #00008B;
	font-family: Lucida Bright;
}
	
h3 {	
	color: #6495ED;
	font-family: Lucida Bright;
}

p {
	font-family: Lucida Bright;
}

img.animalpictures {
	height: 30 px;
	width: auto;
} 

div.polaroid {
	width: 80%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 15px;
}
 
 img {width: 100%}
 
div.container {
	text-align: center;
	padding: 10px 30px;
}
	
	
	
	
</style>
