<style>
body {
	background-color: #F0F8FF;
}

h1 {
	color: #00008B;
	font-family: Lucida Bright;
	text-align: center;
}

h2 {
	color: #00008B;
	font-family: Lucida Bright;
}
	
h3 {	
	color: #6495ED;
	font-family: Lucida Bright;
}

p {
	font-family: Lucida Bright;
}

img.animalpictures {
	height: 100 px;
	width: auto;
} 

div.picture {
	width: 30%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 15px;
}

div.caption {
	text-align:center;
	padding: 7px 15px;
}
	
	
	
	
</style>
